In [108]:
import pandas as pd
import numpy as np

In [109]:
df_flood = pd.read_csv('../data/Flood Events/floodDataProcessed.csv', parse_dates=['Start Date', 'End Date'])
df_rainfall = pd.read_csv('../data/Weather Data/daily-rainfall-at-state-level.csv')

In [112]:
# analysis dates will be from 2009 to 2019

df_flood["year"] = df_flood["Start Date"].str.extract(r"(\d{4})")
df_flood["year"] = pd.to_datetime(df_flood["year"], format="%Y")

mask = df_flood["year"].dt.year >= 2009
df_flood = df_flood.loc[mask]

df_flood.sort_values(by='year', inplace=True)
df_flood.dropna(inplace=True)
df_flood.shape

(624, 6)

In [113]:
df_rainfall['date'] = pd.to_datetime(df_rainfall['date'], format='%Y-%m-%d')
df_rainfall['year'] = df_rainfall['date'].dt.year
df_rainfall = df_rainfall[(df_rainfall['year'] >= 2009) & (df_rainfall['year'] <= 2019)]
df_rainfall.shape

(144612, 9)

In [114]:
df_flood

,Unnamed: 0,Start Date,End Date,Duration(Days),State,year
951,951,2009-11-03,2009-11-08,5,TAMIL NADU,2009-01-01
639,639,2009-06-09,2009-10-09,122,WEST BENGAL,2009-01-01
633,633,2009-01-07,2009-06-07,151,ODISHA,2009-01-01
634,634,2009-11-07,2009-07-17,Diffing the dates,KARNATAKA,2009-01-01
636,636,2009-01-08,2009-04-08,90,BIHAR,2009-01-01
...,...,...,...,...,...,...
1022,1022,2019-06-28,2019-07-04,6,MAHARASHTRA,2019-01-01
1023,1023,2019-07-14,2019-09-30,78,ASSAM,2019-01-01
725,725,2019-11-30,2019-06-12,Diffing the dates,TAMIL NADU,2019-01-01
723,723,2019-09-15,2019-09-22,7,MADHYA PRADESH,2019-01-01
1026,1026,2019-11-29,2019-12-04,5,TAMIL NADU,2019-01-01